/* Base Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

html {
    font-size: 1.25rem;
    overflow-x: hidden;
}

/* Base Styles */

#navbar {
    background-color: navy;
    padding: 2rem 4rem;
    color: beige;
}

#navbar li {
    color: beige;
}