/* Base Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

html {
    font-size: 1.25rem;
    overflow-x: hidden;
}

body {    
    font: 600 75%/1.5 'Exo', 'sans-serif';
    letter-spacing: 2px;  
    overflow-x:hidden;   
}

h1, h2 {
    font-weight: 400;        
    letter-spacing: 4px;  
}

img {
    width: 100%;
}

a {
    text-decoration: none; 
}

/* Navbar */

#navbar {
    background-color: navy;
    padding: 1.5rem 1.5rem;
    text-transform: uppercase;
}

.navbar-brand {
    margin-right: 0;
    color: beige;
    font-size: 125%;
}

.navbar-brand:hover {
    color: beige;
}

.navbar-nav .nav-link {
    margin-right: 2rem;    
    color: beige;
    font-weight: 300;
}

.navbar-nav .nav-link:active {
    color: maroon;
}

.navbar-nav .nav-link:hover {    
    color: maroon;
    font-weight: 800;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#toggler-edit {
    background-color: rgb(245, 245, 220, 0.2);
    border-radius: 5px;
}

#navbar-collapse-edit {
    background-color: rgb(0, 0, 128, 0.5);
}

/* Media Queries min-width: 400px */

@media only screen and (min-width: 400px) {

    #navbar {
        padding: 1.5rem 2.5rem;
    }

}

/* Media Queries min-width: 500px */

@media only screen and (min-width: 500px) {

    #navbar {
        padding: 1.5rem 4rem;
    }

}

/* Media Queries min-width: 600px */

@media only screen and (min-width: 600px) {
    
    .navbar-brand {
        font-size: 150%;
    }

    .navbar-brand {
        margin-right: 3rem;
    }
}

/* Media Queries min-width: 800px */

@media only screen and (min-width: 800px) {
    
    .navbar-brand {
        font-size: 180%;
    }
}